
apiVersion: v1
kind: Namespace
metadata:
  name: mysql
---
#Secret mysql密码
apiVersion: v1
kind: Secret
metadata:
  name: mysql-pass
  namespace: mysql
type: Opaque
data:
  password: bXlzcWxfcm9vdF8xMjNAMTEyLi4=  # Base64 编码后的密码
---
#Service 暴露端口 3306
apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: mysql
  labels:
    app: mysql
spec:
  ports:
    - port: 3306
      nodePort: 31193
  selector:
    app: mysql
  type: NodePort
---
apiVersion: apps/v1 #必选，版本号，例如v1
kind: StatefulSet  #必选，资源类型，例如 Pod
metadata: #必选，元数据
  name: mysql
  namespace: mysql
  labels: #自定义标签列表
    app: mysql
spec: #必选，Pod中容器的详细定义
  serviceName: "mysql"
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - node1
      containers:
        - name: mysql
          image: mysql:8.4.4  #必选，容器的镜像名称
          ports: #需要暴露的端口库号列表
            - containerPort: 3306
          env: #容器运行前需设置的环境变量列表
            - name: TZ
              value: "Asia/Shanghai"  # 设置时区为上海
            - name: MYSQL_ROOT_PASSWORD #环境变量名称
              valueFrom: #环境变量的值
                secretKeyRef:
                  name: mysql-pass
                  key: password # root 用户密码
          livenessProbe: #对Pod内各容器健康检查的设置，当探测无响应几次后将自动重启该容器
            tcpSocket: #对Pod内个容器健康检查方式设置为tcpSocket方式
              port: 3306
            initialDelaySeconds: 30 #容器启动完成后首次探测的时间，单位为秒
            timeoutSeconds: 5 #对容器健康检查探测等待响应的超时时间，单位秒，默认1秒
            periodSeconds: 10 #对容器监控检查的定期探测时间设置，单位秒，默认10秒一次
            successThreshold: 1
            failureThreshold: 3
          volumeMounts: #挂载到容器内部的存储卷配置
            - name: mysql-data
              mountPath: /var/lib/mysql
              readOnly: false
      volumes:
        - name: mysql-data
          hostPath:
            path: /mnt/data/mysql
---
