apiVersion: v1
kind: PersistentVolume
metadata:
  name: jk-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - master
  hostPath:
    path: /mnt/data/jk
---
#Namespace dev
apiVersion: v1
kind: Namespace
metadata:
  name: jk
---
apiVersion: v1
kind: Service
metadata:
  name: jk-svc
  namespace: jk
spec:
  type: NodePort
  selector:
    app: jenkins
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: jenkins
  namespace: jk
spec:
  serviceName: "jenkins"
  replicas: 1  # 可以增加副本数来实现高可用
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      labels:
        app: jenkins
    spec:
      #      部署 master 节点需要
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"  # 容忍控制平面节点的 taint
      containers:
        - name: jenkins
          image: jenkins/jenkins:jdk21
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /var/jenkins_home
              name: jenkins-home
          resources:
            limits:
              memory: "1Gi"
              cpu: "1"

  volumeClaimTemplates:
    - metadata:
        name: jenkins-home
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 5Gi
---
