apiVersion: v1
kind: PersistentVolume
metadata:
  name: kafka-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - node1
  hostPath:
    path: /mnt/data/kafka
---
#Namespace dev
apiVersion: v1
kind: Namespace
metadata:
  name: kafka
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-svc
  namespace: kafka
spec:
  type: NodePort
  selector:
    app: kafka
  ports:
    - port: 9093
      name: client
    - port: 9094
      name: external
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
  namespace: kafka
  labels:
    app: kafka
spec:
  serviceName: "kafka"
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
        - name: kafka
          image: bitnami/kafka:3.9.0
          ports:
            - containerPort: 9093
          env:
            - name: TZ
              value: "Asia/Shanghai"  # 设置时区为上海
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL_MAP
              value: INSIDE=PLAINTEXT,OUTSIDE=PLAINTEXT
            - name: KAFKA_LISTENER_NAME_INSIDE
              value: INSIDE
            - name: KAFKA_LISTENER_NAME_OUTSIDE
              value: OUTSIDE
            - name: KAFKA_LISTENER_PORT_INSIDE
              value: "9093"
            - name: KAFKA_LISTENER_PORT_OUTSIDE
              value: "9094"
              #配置指向外部可访问的 IP 地址。
            - name: KAFKA_ADVERTISED_LISTENERS
              value: INSIDE://kafka-0.kafka.kafka.svc.cluster.local:9093,OUTSIDE://<external-ip>:9094
            - name: KAFKA_LISTENER_SECURITY_PROTOCOL
              value: PLAINTEXT
            - name: KAFKA_ZOOKEEPER_CONNECT
              value: "zookeeper-0.zookeeper-headless.zookeeper.svc.cluster.local:2181"
          volumeMounts:
            - name: data
              mountPath: /bitnami/kafka
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi  # 每个节点的存储需求
