apiVersion: v1
kind: PersistentVolume
metadata:
  name: nc-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - master
  hostPath:
    path: /mnt/data/nc
---
#Namespace dev
apiVersion: v1
kind: Namespace
metadata:
  name: nc
---
