---
apiVersion: v1
kind: Namespace
metadata:
  name: registry
---
apiVersion: v1
kind: Service
metadata:
  name: registry-svc
  namespace: registry
spec:
  type: ClusterIP
  selector:
    app: registry
  ports:
    - protocol: TCP
      port: 443
      targetPort: 443
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: registry
  namespace: registry
  labels:
    app: registry
spec:
  serviceName: "registry-svc"
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - master
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"  # 容忍控制平面节点的 taint
      containers:
        - name: registry
          securityContext:
            privileged: true
          image: registry:3
          ports:
            - containerPort: 443
          env:
            - name: TZ
              value: "Asia/Shanghai"  # 设置时区为上海
            - name: REGISTRY_HTTP_ADDR
              value: "0.0.0.0:443"
            - name: OTEL_TRACES_EXPORTER
              value: "none"
            - name: REGISTRY_STORAGE_DELETE_ENABLED
              value: "true"
            - name: REGISTRY_HTTP_TLS_CERTIFICATE
              value: "/certs/api.aidighub.com.pem"
            - name: REGISTRY_HTTP_TLS_KEY
              value: "/certs/api.aidighub.com.key"
          volumeMounts:
            - name: registry-storage
              mountPath: /var/lib/registry
            - name: tls-secret
              mountPath: /certs
              readOnly: true
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "100m"
              memory: "128Mi"
      volumes:
        - name: registry-storage
          hostPath:
            path: /mnt/data/registry
            type: DirectoryOrCreate
        - name: tls-secret
          hostPath:
            path: /root/nginxKey/api
            type: DirectoryOrCreate