<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vk.user.mapper.ApUserInfoMapper">

    <sql id="userInfoColumns">
        u.id,
        i.name,
        u.phone,
        u.image,
        u.created_time AS createdTime,
        i.sex,
        i.position,
        i.company,
        i.occupation,
        i.age,
        i.birthday,
        i.introduction,
        i.location,
        i.fans,
        i.follows,
        i.is_send_message AS isSendMessage,
        i.is_recommend_friend AS isRecommendFriend,
        i.is_recommend_me AS isRecommendMe,
        i.is_display_image AS isDisplayImage,
        i.updated_time AS updatedTime
    </sql>
    <select id="selectGetInfo" resultType="com.vk.user.domain.vo.UserInfoVo">
        select
        <include refid="userInfoColumns"/>
        from ap_user u
                 LEFT JOIN ap_user_info i ON u.id = i.user_id
        WHERE u.id = #{userId}
    </select>

    <select id="selectByPage" resultType="com.vk.common.es.domain.UserInfoDocument">
        select
        <include refid="userInfoColumns"/>
        from ap_user u
        inner join ap_user_info i ON u.id = i.user_id
        where u.status=0 and u.created_time &lt;= #{now} limit #{start}, #{size}
    </select>

    <select id="selectForCondition" resultType="com.vk.common.es.domain.UserInfoDocument">
        select
        <include refid="userInfoColumns"/>
        from ap_user u
            inner join ap_user_info i ON u.id = i.user_id
        where u.status=0 and u.created_time > #{redisTime}
          and u.created_time &lt;= #{nowTime}
    </select>

    <select id="getFollowedUserIds" resultType="java.lang.Long">
        SELECT follow_id
        FROM ap_user_follow
        WHERE user_id = #{localId} AND follow_id IN
        <foreach collection="userIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
