<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vk.behaviour.mapper.ApFollowBehaviorMapper">

    <resultMap id="notificationMap" type="java.util.HashMap">
        <id column="dateTime" property="key" javaType="java.lang.String"/>
        <result column="total" property="value" javaType="java.lang.Integer"/>
    </resultMap>

<!--    <select id="getFollowNotifyCountMap" resultMap="notificationMap">-->
    <select id="getFollowNotifyCountMap" resultType="FollowNotifyCountMap">
        SELECT
            DATE(a.created_time) AS dateTime,
            COUNT(a.id) AS total
        FROM ap_follow_behavior a
            INNER JOIN (
            SELECT DATE(created_time) AS date
            FROM ap_follow_behavior
            WHERE follow_id = #{userId}
            GROUP BY DATE(created_time)
            ORDER BY DATE(created_time) DESC
            LIMIT #{page} , #{size}
            ) b ON DATE(a.created_time) = b.date
        WHERE a.follow_id = #{userId}
        GROUP BY DATE(a.created_time)
        ORDER BY dateTime DESC;
    </select>

    <select id="getFollowNotifyList" resultType="com.vk.behaviour.domain.entity.FollowBehaviorTimeCount">
        SELECT a.author_id AS articleId,
               a.author_name AS authorName,
               created_time AS followEndTime,
            DATE(a.created_time) AS dateTime
        FROM ap_follow_behavior a
            INNER JOIN (
            SELECT DATE(created_time) AS dateCreatedTime
            FROM ap_follow_behavior
            WHERE follow_id = #{userId}
            GROUP BY DATE(created_time)
            ORDER BY DATE(created_time) DESC
            LIMIT  #{page} , #{size}
            ) b ON DATE(a.created_time) = b.dateCreatedTime
        WHERE a.follow_id = #{userId}
        GROUP BY a.author_id, a.author_name,a.created_time ,DATE(a.created_time)
        ORDER BY dateTime DESC LIMIT 10 ;
    </select>
</mapper>
